.App {
  background-color: #000000;
  color: white;
}
.logo {
  height: 100px;
  margin-left: 50px;
}
.title {
  color: white;
  font-size: 20px;
  font-weight: bold;
}
.movies-List {
  display: flex;
  /* scroll horizontal */
  overflow-x: auto;
}

.movies-List::-webkit-scrollbar {
  display: none;
}

.movies-List img {
  height: 124px;
  width: 220px;
}
.container {
  margin: 0 0 40px 50px;
}
